{% extends 'registration/basetemplate.html' %}
{% block body %}

{% load static %}

<link rel="stylesheet" href="{% static 'frontend-assets/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'frontend-assets/css/login.css' %}">

<div class="auth-main">
    <div class="container">
        <div class="slideIn">
            <!-- image and information -->
            <div class="hidden-sm hidden-xs col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 no-padding fitxt-center">
                <div class="image-area">
                    <div class="content">
                        <div class="image-hader">
                            <h2>Welcome To</h2>
                        </div>
                        <div class="center img-hol-p">
                            <a href="home.html"><img src="{% static 'frontend-assets/img/logo.png' %}" height="40%%"
                                    width="40%%" alt="AIMS"></a>
                        </div>

                        <div class="f-social-links center">
                            <a href="https://www.facebook.com/username" target="_blank">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a href="https://www.twitter.com/username" target="_blank">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a href="https://www.linkedin.com/username" target="_blank">
                                <span class="fab fa-linkedin-in"></span>
                            </a>
                            <a href="https://www.youtube.com/username" target="_blank">
                                <span class="fab fa-youtube"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Login -->
            <div class="col-lg-6 col-lg-offset-right-1 col-md-6 col-md-offset-right-1 col-sm-12 col-xs-12 no-padding">
                <div class="sign-area">
                    <div class="sign-hader pt-md">
                        <img src="{% static 'frontend-assets/img/logo.png' %}" height="54" alt="">
                        <h2>AIMS</h2>


                        <form method="post">
                            {% csrf_token %}
                            {% if messages %}
                        <div class="col-12" style="margin-top:26px; margin-bottom:26px; margin-left:5px; width: 97%; ">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger">{{ message }}</div>
                        </div>

                        {% endif %}
                        {% endfor %}
                        {% else %}
                            {% for field in form %}
                            <div class="form-group ">
                                
                                <div class="input-group input-group-icon" style="margin-top: 25px;">

                                    {{ field.errors }}
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fas fa-unlock-alt"></i></span>
                                    </span>
                                    <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                                        class="form-control input-rounded" placeholder="Type Password" />
                                </div>
                                {% endfor %}
                
                                <div class="form-group">
                                    <button type="submit" id="btn_submit" class="btn btn-block btn-round"
                                        style="margin-top: 49px;"><i class="fas fa-sign-in-alt"></i> Submit</button>
                                </div>
                            </div>
                            {% endif %}
                            <span class="error"></span>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'do_login' %}"><i class="fas fa-long-arrow-alt-left"></i> Back To Login</a>
                    </div>
                    <div class="sign-footer">
                        <p>&copy; Developed by <a href="https://fiverr.com/ahsan_joyia">Ahsan Joyia</a></p>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Starts -->
<script src="{% static 'frontend-assets/js/bootstrap.js' %}"></script>
<!-- Footer Ends -->


{% endblock body %}